.navbar{
    height: 50px;
    width: 100%;
    background-color: #1a1a1a;
    overflow-y: hidden;
    box-shadow: 0px 2px 6px rgba(161, 161, 161, 0.329);
    position: fixed;
    z-index: 4;
    top: 0px;
    }
    .navbar header{
     padding-top: 12px;
     margin-left: 60px;
     font-size: x-large;
     font-weight: bolder;
     color: white;
    }
    .navbar .img-memu{
    height:50px;
    float: left;
    pointer-events: painted;
    background-color: rgba(255, 255, 255, 0.836);
    }