*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: black;
}

.Intro-Card{
background-image: url("../Images/game-controller-outline.svg");
background-repeat: no-repeat;
margin-top: 50px;
height: auto;
width: 100%; 
background-color: #1a1a1a;
background-position: center;
}

.Intro-Card header{
    padding-top: 120px;
    margin-inline: 20px;
}
.Intro-Card h1{
    color: white;
    font-size: x-large;
}
.Intro-Card b{
    font-weight: none;
    color: orange;
}
.Intro-Card p{ 
color: white;
padding-top: 170px;
text-align: center;
}
.Intro-Card button{
    background-color: rgb(140, 17, 255);
    color: white;
    font-size: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 8px;
    margin-left: 20px;
    border: none;
}
.Intro-Card a{
    text-decoration: none;
    color: white;
}
.border-style{
    margin-top: 30px;
    height:30px;
    width: 100%;
    user-select: none;
    }
    .border-style .Line{
    background-color: rgb(142, 21, 255);
    width: 98%;
    height: 4px;
    margin-left: auto;
    border-radius: 8px;
    margin-right: auto;
    
    }    
.border-style .Circle{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(142, 21, 255);
}
.Card{
    height: auto;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}
.Card ::-webkit-scrollbar{
    height: 3px;
    background-color: #1a1a1a;
}
.Card ::-webkit-scrollbar-thumb{
    background-color: #8d0fd6;
}
.Right-flow{
    overflow-y: hidden;
    overflow-x: auto;
}
.Card .row{
    height: 110px;
    width: max-content;
    display: block;

}
.Card .row .App{
    height: 130px;
    float: left;
    background-color: #1a1a1a;
    width: 100px;
    margin: 5px;
}
.Card .row .App img{
    height: fit-content;
    margin: 10px;
}
