*{
    padding: 0%;
    margin: 0%;
    color: white;
}
body{
    background-color: black;
    user-select: none;
    padding-bottom: 30px;
}
a{
    text-decoration: none;
}
.Intro-Card{
    margin-top: 0px;
    background-image: url("../Garena-Free-Fire-PNG.png");
    background-repeat: no-repeat; 
    height: auto;
    width: 100%; 
    background-color: #1a1a1a;
    background-position: bottom;

}

.Intro-Card header{
    padding-top: 250px;
    margin-inline: 20px;
}
.Intro-Card h1{
    color: white;
    font-size: 20px;
}
.Intro-Card b{
    font-weight: none;
    color: orange;
}
.Intro-Card p{ 
color: white;
padding-top: 170px;
text-align: center;
}
.Intro-Card button{
    background-color: rgb(140, 17, 255);
    color: white;
    font-size: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
    border-radius: 8px;
    margin-left: 20px;
    border: none;
}
.Intro-Card a{
    text-decoration: none;
    color: white;
}
.border-style{
    margin-top: 30px;
    height:30px;
    width: 100%;
    }
.border-style .Line{
    background-color: rgb(142, 21, 255);
    width: 98%;
    height: 4px;
    border-radius: 8px;
    margin-right: auto;
    margin-left: auto;
}    
.border-style .Circle{
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgb(142, 21, 255);
}
.Card{
    height: auto;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}
.Card ::-webkit-scrollbar{
    height: 3px;
    background-color: #1a1a1a;
}
.Card ::-webkit-scrollbar-thumb{
    background-color: rgb(140, 17, 255);
}
.Right-flow{
    overflow-y: hidden;
    overflow-x: auto;
}
.Card .row{
    height: 110px;
    width: max-content;
    display: block;

}
.Card .row .App{
    height: 140px;
    float: left;
    background-color: #1a1a1a;
    width: 100px;
    margin: 5px;
    overflow: hidden;
}
.Card .row .App img{
    height: fit-content;
    background-color: #474747;
    padding: 10px;
}
.Card .row .App p{
    color: white;
    padding-left: 2px;
    padding-right: 2px;
    font-size: 15px;
}
.Container{
    height: auto;
    background-color: #1a1a1a;
    margin: 5px;
}
.Container .Show{
    height: 300px;
    transition: 0.5s;
    overflow: hidden;
}
.Container .Show img{
    position: absolute;
    z-index: 0;
    height: 300px;
}
.Container .Show p{
    position: absolute;
    z-index: 1;
    font-size: larger;
    margin-top: 170px;
    margin-left: 20px;
}
.Container .Show button{
    position: absolute;
    background-color: rgb(140, 17, 255);
    color: white;
    font-size: 20px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 200px;
    border-radius: 8px;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    z-index: 1;
}
/* .......Scroll Bar Fot y-axis................... */
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background-color: #a200ff;
}
/* .......................... */